*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.logo{
    width:3rem;
    height:3rem;
    background-color: #666;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.home{
    background-color: #666;
    height:80vh;
}
.banner{
    height:60vh;
    background-color: #aaa;
}