*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.logo{
    width:3rem;
    height:3rem;
    background-color: #666;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.home{
    background-color: #666;
    height:65vh;
}
.banner{
    height:50vh;
    width: 50vw;
    background-color: #aaa;
}
.text-card{
    width:30vh;
    height:50vh;
    background-color: #868686;
}
.acerca_de{
    height:85vh;
    background-color: #f6f6f6;
}
.foto{
    height: 7rem;
    width:7rem;
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color:#fff;
    border-radius: 50%;
}