*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

.navbar-brand{
    display: flex;
    align-items: center;
}
.logo{
    width:3rem;
    height:3rem;
    background-color: #666;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.home{
    background-color: #444;
    
}
.banner{
    background-color: #aaa;
    height: 18rem;
}
.text-card{
    background-color: #868686;
}
.foto{
    height: 7rem;
    width:7rem;
    margin-top: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color:#fff;
    border-radius: 50%;
}
.bg-claro{
    background-color: #f6f6f6;
}