*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.logo{
    width:3rem;
    height:3rem;
    background-color: #666;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.home{
    background-color: #666;
    height:60vh;
}
.banner{
    height:45vh;
    width: 80vw;
    background-color: #aaa;
}
.acerca_de{
    height:80vh;
    background-color: #f6f6f6;
}
.foto{
    height: 7rem;
    width:7rem;
    margin-top: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;;
    border-radius: 50%;
}